.header__lang-link {
  margin-left: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  opacity: 1;
  transition: all .3s;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {

  .header__lang-link {
    margin-left: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
  }

}

/* 768px end */