@media screen and (min-width: 425px) {
  .header {
    max-width: 375px;
  }

  .lead {
    max-width: 375px;
  }

  .lead__title {
    font-size: 44px;
  }

  .lead__caption {
    margin: 8px 0 0;
  }

  .intro {
    max-width: 375px;
    margin: 0 auto 75px;
  }

  .intro__title {
    font-size: 36px;
  }

  .intro__text {
    max-width: 375px;
    margin-bottom: 33px;
  }
}

/* 425px end */

@media screen and (min-width: 768px) {
  .header {
    max-width: 720px;
  }

  .header__logo {
    max-width: 176px;
  }

  .header__lang-link {
    margin-left: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
  }

  .lead {
    max-width: 768px;
  }

  .lead__title {
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto 32px;
  }

  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 auto 56px;
    max-width: 640px;
  }

  .lead__caption {
    margin: 8px 0 0 24px;
  }

  .intro {
    max-width: 720px;
    margin: 0 auto 88px;
  }

  .intro__title {
    max-width: 720px;
    font-size: 54px;
    line-height: 1.07;
  }

  .intro__text {
    max-width: 720px;
  }

  .photo-grid {
    margin: 0 auto 88px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 16px;
  }

  .places {
    max-width: 720px;
    margin: 0 auto 90px;
    gap: 48px 40px;
  }

  .place {
    grid-template-rows: minmax(92px, 1fr) minmax(340px, 441px);
    grid-template-columns: 340px minmax(352px, 1fr);
    gap: 48px 28px;
    margin-bottom: 73px;
  }

  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    padding-left: 0;
    padding-right: 0;
  }

  .place__website {
    padding-left: 0;
    padding-right: 0;
  }


  .place__paragraph {
    padding-left: 0;
    padding-right: 0;
  }

}

/* 768px end */

@media screen and (min-width: 1024px) {
  .header {
    max-width: 928px;
  }

  .lead {
    max-width: 928px;
  }

  .lead__title {
    font-size: 96px;
  }

  .lead__caption {
    margin: 8px 0 0;
  }

  .intro {
    max-width: 928px;
    margin: 0 auto 92px;
  }

  .intro__title {
    max-width: 690px;
  }

  .intro__text {
    max-width: 690px;
  }

  .photo-grid {
    margin: 0 auto 92px;
    padding-left: 48px;
    padding-right: 48px;
    gap: 14px;
  }

  .places {
    max-width: 928px;
    margin: 0 auto 92px;
  }

  .place {
    grid-template-rows: 152px 440px;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
    margin-bottom: 80px;
  }

  .place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 460px;
  }

  .place__paragraph {
    font-size: 18px;
    margin-bottom: 26px;
  }
}

/* 1024px end */

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
    margin: 0 auto 56px;
  }

  .lead {
    max-width: 984px;
  }

  .lead__subtitle {
    margin: 0 auto 64px;
  }

  .intro {
    max-width: 984px;
  }

  .photo-grid {
    gap: 16px;
  }

  .places {
    max-width: 984px;
  }

  .place {
    grid-template-rows: 152px 460px;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    margin-bottom: 80px;
  }


}

.none {
  display: none;
}

/* 1280px end */