.place__paragraph {
  grid-column-start: 2;
  grid-row-start: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}