.place__paragraph {
  grid-column-start: 2;
  grid-row-start: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 425px) {

  .place__paragraph {
    padding-left: 0;
    padding-right: 0;
  }

}

/* 768px end */

@media screen and (min-width: 1024px) {

  .place__paragraph {
    font-size: 18px;
    margin-bottom: 26px;
  }

}

/* 1024px end */