.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-bottom: 200px;
  background: #2A2C2F;
  opacity: .3;
  transition: all .5s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  .cover__overlay {
    padding-bottom: 480px;
  }

}

/* 768px end */

@media screen and (min-width: 1024px) {

  .cover__overlay {
    padding-bottom: 640px;
  }

}

/* 1024px end */

@media screen and (min-width: 1280px) {
 
  .cover__overlay {
    padding-bottom: 740px;
  }

}

/* 1280px end */