.cover__overlay {
  display: block;
  width: 100%;
  min-height: 200px;
  background: rgba(42, 44, 47, 0.3);
  transition: all .5s;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}


@media screen and (min-width: 768px) {

  .cover__overlay {
    min-height: 480px;

  }

}

/* 768px end */

@media screen and (min-width: 1024px) {

  .cover__overlay {
    min-height: 640px;

  }

}

/* 1024px end */

@media screen and (min-width: 1280px) {

  .cover__overlay {
    min-height: 740px;
  }

}

/* 1280px end */