.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  padding-bottom: 200px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {

  .cover__background {
    padding-bottom: 480px;
  }

}

/* 768px end */

@media screen and (min-width: 1024px) {

  .cover__background {
    padding-bottom: 640px;
  }

}

/* 1024px end */

@media screen and (min-width: 1280px) {

  .cover__background {
    padding-bottom: 740px;
  }

}

/* 1280px end */